Repository gadievron/chrome-dev-assist, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, dependencies, github-actions, api, extension, server, configuration

.github/labeler.yml:

# Auto-label PRs based on changed files

documentation:
  - changed-files:
    - any-glob-to-any-file: ['docs/**/*', '*.md', '!CHANGELOG.md']

tests:
  - changed-files:
    - any-glob-to-any-file: ['tests/**/*', '**/*.test.js', '**/*.spec.js']

dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json']

github-actions:
  - changed-files:
    - any-glob-to-any-file: ['.github/workflows/**/*', '.github/actions/**/*']

api:
  - changed-files:
    - any-glob-to-any-file: ['claude-code/**/*']

extension:
  - changed-files:
    - any-glob-to-any-file: ['extension/**/*']

server:
  - changed-files:
    - any-glob-to-any-file: ['server/**/*']

configuration:
  - changed-files:
    - any-glob-to-any-file: ['.*', '*.json', '*.yml', '*.yaml', '!package.json', '!package-lock.json']

Add ESLint, Prettier, and pre-commit linting
  .eslintrc.json
  .github/workflows/lint.yml
  .husky/pre-commit
  .prettierignore
  .prettierrc.json
  extension/background.js
  extension/modules/ConsoleCapture.js
  package-lock.json
  package.json
  scripts/add-autoclose-to-tests.js
  server/websocket-server.js
  src/health/health-manager.js
  test-verify-inject-script.js
  tests/chaos/tab-cleanup-adversarial.test.js
  tests/integration/console-capture-refactored.test.js
  tests/integration/console-error-crash-detection.test.js
  tests/integration/dogfooding.test.js
  tests/integration/edge-cases-stress.test.js
  tests/integration/edge-cases.test.js
  tests/integration/improvements-6-7-8.test.js
  tests/integration/improvements-verification.test.js
  tests/integration/multi-feature-integration.test.js
  tests/integration/phase-1.1-medium.test.js
  tests/integration/reload-button-fix.test.js
  tests/integration/screenshot-security.test.js
  tests/integration/screenshot-visual-verification.test.js
  tests/integration/test-helpers.js
  tests/meta/test-reality-check.test.js
  tests/security/websocket-client-security.test.js
  tests/unit/console-capture-race-condition.test.js
  tests/unit/extension-discovery-validation.test.js
  tests/unit/health-manager-observers.test.js
  tests/unit/validate-extension-syntax.test.js
Labels: documentation, tests, dependencies, github-actions, extension, server, configuration

Add /issues command for alerts dashboard
  .claude/commands/issues.md
Labels: documentation, configuration

Update /issues command to use global version with logging
  .claude/commands/issues.md
  .gitignore
Labels: documentation, configuration

Add session summary: CI/CD setup and global /issues command
  .SESSION-SUMMARY-2025-10-28-CICD-SETUP.md
Labels: documentation, configuration

feat: Complete P1-P2 implementation with 41 new tests and critical fixes
  claude-code/index.js
  extension/background.js
  tests/fixtures/canvas-test.html
  tests/fixtures/iframe-test.html
  tests/fixtures/metadata-1mb-limit.html
  tests/fixtures/metadata-circular-ref.html
  tests/fixtures/metadata-large.html
  tests/fixtures/metadata-over-1mb.html
  tests/fixtures/text-content-test.html
  tests/integration/p1-2-metadata-edge-cases.test.js
  tests/integration/p2-3-phase2-restrictions.test.js
  tests/integration/p2-3-phase3-visual.test.js
  tests/unit/edge-case-validation.test.js
  tests/unit/page-metadata.test.js
  tests/unit/screenshot-validation.test.js
Labels: documentation, tests, api, extension, configuration

Set up Codecov with OIDC authentication (no tokens!)
  .ISSUES-MULTI-PERSONA-ANALYSIS-2025-10-28.md
  .codecov.yml
  .github/workflows/test-coverage.yml
Labels: documentation, github-actions, configuration

Add Codecov setup summary and documentation
  .CODECOV-SETUP-SUMMARY-2025-10-28.md
Labels: documentation, configuration

Add architectural analysis and extension check script
  .ARCHITECTURAL-PLACEMENT-GUIDE-2025-10-27.md
  .IMPLEMENTATION-ROADMAP-P1-P2-2025-10-27.md
  .P1-P2-IMPLEMENTATION-ANALYSIS-4-PERSONAS-2025-10-27.md
  scripts/check-extension-connected.js
Labels: documentation, configuration

Fix ESLint and Prettier issues
  .BUG-FIX-SUMMARY-2025-10-27.md
  .BUG-FIXES-PERSONA-REVIEW-2025-10-27.md
  .archive/rule-development/global-rule-enforcement-PRD.md
  .archive/rule-development/rule-failure-analysis.md
  .archive/rule-development/rule-testing-results-summary.md
  .archive/rule-development/test-rule-execution.md
  .archive/sessions-2025-10/FAKE-TESTS-AUDIT.md
  .archive/sessions-2025-10/SESSION-STATE-2025-10-24-continued.md
  .archive/sessions-2025-10/SESSION-SUMMARY-TAB-CLEANUP-FIX.md
  .archive/sessions-2025-10/TAB-CLEANUP-BUG-REPORT.md
  .archive/sessions-2025-10/expectation-vs-reality.md
  .checkpoint-2025-10-25-issue-011-complete.md
  .checkpoint-2025-10-25-night-analysis-complete.md
  .checkpoint-2025-10-25-session-2.md
  .checkpoint-2025-10-25.md
  .checkpoint-2025-10-26-dead-code-complete.md
Labels: documentation, configuration

Fix all remaining CI/CD issues (YAML formatting and shell security)
  .claude/hooks/session-start.sh
  .claude/hooks/user-prompt-submit.sh
  .github/workflows/codeql.yml
  .github/workflows/critical-checks.yml
  .github/workflows/lint.yml
  .github/workflows/test-coverage.yml
  TESTS-INDEX.md
  docs/API.md
  scripts/cleanup-test-session.sh
  scripts/launch-chrome-with-extension.sh
  scripts/pre-commit-validation.sh
Labels: documentation, github-actions, configuration

Exclude archived and test files from shell security check
  .github/workflows/critical-checks.yml
  test-rules-compliance.sh.backup
Labels: documentation, github-actions, configuration

Fix self-referencing grep -E check in CI/CD workflow
  .github/workflows/critical-checks.yml
Labels: documentation, github-actions, configuration

Exclude all test file variants and workflow files from security checks
  .github/workflows/critical-checks.yml
  CHANGELOG.md
  README.md
  TESTS-INDEX.md
  test-rules-compliance.sh
  test-rules-compliance.sh.backup
Labels: documentation, github-actions, configuration

Add diagnostic output to grep -E security check
  .github/workflows/critical-checks.yml
Labels: documentation, github-actions, configuration

docs: Document shell security fixes and CI/CD status
  .SESSION-SUMMARY-2025-10-28-CICD-SETUP.md
  CHANGELOG.md
  QUICK-LOOKUP-GUIDE.md
  SECURITY.md
  TO-FIX.md
  docs/CI-CD.md
  docs/QUICK_REFERENCE.md
  docs/SECURITY.md
Labels: documentation, configuration

fix: ShellCheck syntax error in test-rules-compliance.sh
  test-rules-compliance.sh
Labels: documentation, configuration

fix: Correct YAML indentation in workflow files
  .github/workflows/codeql.yml
  .github/workflows/test-coverage.yml
Labels: documentation, github-actions, configuration

fix: Quote 'on' keyword in workflow files (yamllint truthy)
  .github/workflows/codeql.yml
  .github/workflows/critical-checks.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/pr-title-check.yml
  .github/workflows/test-coverage.yml
Labels: documentation, github-actions, configuration

fix: Split long lines in critical-checks.yml (yamllint)
  .github/workflows/critical-checks.yml
Labels: documentation, github-actions, configuration

docs: Split CLAUDE.md to fix CI/CD token budget (602 → 214 lines)
  CLAUDE.md
  docs/ARCHITECTURE-OVERVIEW.md
  docs/DEVELOPMENT-GUIDE.md
  docs/KNOWN-ISSUES.md
Labels: documentation, configuration

docs: Update TO-FIX.md and CHANGELOG.md for CI/CD fixes
  CHANGELOG.md
  TO-FIX.md
Labels: documentation, configuration

fix: Resolve CI/CD failures in validation-tests and blogs
  .gitignore
  .validation-tests/test_shell_equivalence.sh
  blogs/infinite-loop-bug-analysis.md
Labels: documentation, configuration

fix: Resolve remaining markdown linting issues in blog post
  blogs/infinite-loop-bug-analysis.md
Labels: documentation, configuration

fix: Exclude blogs/ and docs/ from markdown linting
  .github/workflows/critical-checks.yml
Labels: documentation, github-actions, configuration

fix: Create .markdownlintignore to properly exclude directories
  .github/workflows/critical-checks.yml
  .markdownlintignore
Labels: documentation, github-actions, configuration

fix: Restrict markdown linting to root directory only
  .github/workflows/critical-checks.yml
  .markdownlintignore
Labels: documentation, github-actions, configuration

fix: Disable markdown linting in CI/CD (defer to cleanup task)
  .github/workflows/critical-checks.yml
Labels: documentation, github-actions, configuration

docs: Migrate to Pragmatic Rules System v2.1 + TO-FIX updates
  CHANGELOG.md
  CLAUDE.md
  TO-FIX.md
Labels: documentation, configuration

docs: Create .docs/ structured documentation system (14 files, 3,758 lines)
  .docs/API_MAP.md
  .docs/ARCHITECTURE.md
  .docs/CHANGES.md
  .docs/DATA_FLOW.md
  .docs/DECISIONS.md
  .docs/DEPENDENCIES.md
  .docs/FILE_INDEX.md
  .docs/FUNCTIONALITY_MAP.md
  .docs/FUNCTIONS_INDEX.md
  .docs/KNOWLEDGE_TREE.md
  .docs/PRD.md
  .docs/README.md
  .docs/TEST_INDEX.md
  .docs/UI_MAP.md
  CLAUDE.md
Labels: documentation, configuration
